@import "vars";

#site-footer {
  padding-top: 2rem;
  address {
    h2 {
      font-size: 200%;
    }
    .delivery-label {
      margin-top: 1em;
      font-size: 150%;
    }
    span {
      font-size: 100%;
    }
  }
}