@import "vars";

#site-footer {
  margin-top: 21px;
  background-color: #ccc;
  padding-top: 2rem;
  address {
    h2 {
      font-size: 200%;
    }
    .delivery-label {
      margin-top: 1em;
      font-size: 150%;
    }
    span {
      font-size: 100%;
    }
  }
  #login-link {
    display: inline-block;
    margin-top: 21px;
    width: 22px;
    filter: brightness(1) invert(.5);
  }
}
