@import "vars";

#header-background {
	background-color: $white;
}

#header-navbar {
	padding-bottom: 0;
	padding-right: 0;
	.col {
		padding-left: 0;
	}

	.logo-container {
		padding-left: 0;
		@media (max-width: 640px) {
			text-align: center;
		}
	}
	.header-logo {
	  max-width: 90px;
	  max-height: 77px;
	  min-width: 90px;
	  min-height: 77px;
	  vertical-align: bottom;
		@media screen and (min-width: 450) and (max-width: 1039px) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		@media screen and (max-width: 449px) {
			vertical-align: top;
		}
	}
	
}


#search-block {
	input:focus {
		border-color: #ccc;
		box-shadow: none;
	}
}
.search-glass {
	height: 38px;
	width: 32px;
	display: inline-block;
	position: relative;
	top: 5px;
	left: -17px;
	border: solid #ccc 1px;
	border-left: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0;
	background-color: white;
	padding-right: 4px;
	input {
		display: inline-block;
		position: relative;
		top:3px;
	}
}