@import "_vars.scss";

#header-navbar 
	padding-bottom: 0;
	padding-right: 0;
	.col {
		padding-left: 0;
	}

	.logo-container {
		padding-left: 0;
		@media (max-width: 640px) {
			text-align: center;
		}
	}
	.header-logo {
	  max-width: 90px;
	  max-height: 77px;
	  min-width: 90px;
	  min-height: 77px;
	  vertical-align: bottom;
		@media screen and (min-width: 450) and (max-width: 1039px) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		@media screen and (max-width: 449px) {
			vertical-align: top;
		}
	}
	
}
