$red: #A50030;
$black: #000;
$white: #fff;
$award: #8C6B18; //#DAA520;
$gold: #ffd700;
$dark-gold: #E0BF00;
$background-grey: #f3f3f3; //f7f6f4
$news-grey: #e5e5e5;
$dark-blue: #22223b;
$light-blue: #C3CEDC;
$med-blue: #9dadc9;
$tan: #f1efe7;
$dim: #555;
