<p>To request a copy of a Temple University Press book, please fax your request on company letterhead to: Gary Kramer at 215.204.2160. If you would like to email your request, please include your name and contact information.</p>

<p><strong>If you are a professor</strong> wishing to request an examination copy or a desk copy of a book that you've ordered for your class, you may email us at: <a href="mailto:examcopy@temple.edu">examcopy@temple.edu,</a> fax your request on letterhead to 215-204-2142, or use our <a href="/copy-request">online form</a>. Thanks.</p>
