<div class="container catalogs index">

<div class="row">
  <div class="col-12 mb-2 mt-3">
    <h1 class="my-3">
      <%= title_link(t("tupress.catalogs.index_title")) %>
    </h1>
  </div>
</div>

  <% @catalogs.each do |year,catalogs| %>  
    <div class="row mb-2 seasons pl-3 mr-2" style="background-color:white">
      <div class="col-12 col-md-1 p-3 text-center" style="background-color: gold">
        <strong><%= year %></strong>
      </div>
      <% catalog_year(catalogs).each do |catalog| %>
        <div class="col-6 col-md-3 offset-md-2 p-3 season text-center">
          <%= link_to catalog.title, catalog_path(catalog) %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>