<div class="container catalog-show">

<div class="row mb-3">
  <div class="col-12 mt-3 px-0">
    <h1 class="mt-4">
      <%= link_to t("tupress.catalogs.index_title"), catalogs_path %>
       > 
      <%= title_link(@catalog.title, @catalog.id) %>
    </h1>
  </div>
  <div class="col-12 social-sharing text-md-right">
			<% if @catalog.pdf.attached? %>
				<%= link_to "Download PDF version", @catalog.pdf.attachment, class: "text-right text-lg-left" %><br />
			<% end %>
	</div>
</div>

    <%= render "/books/books" %>

</div>