*/tmp*
node_modules
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.git
.gitignore
.DS_Store
README.md
/Dockerfile
/spec
/test
/env.*
/.bundle
# Ignore all logfiles and tempfiles.
config/secrets.yml
credentials.yml.enc
vendor/bundle/
/public/assets
/public/packs
/public/packs-test
yarn-debug.log*
.yarn-integrity
yarn-error.log
.ruby-version
.rubocop.yml
.rspec
