<div class="row">
  <div class="col col-12 m-2 highlights" id="highlights">
    <h3>Slidesow</h3>
  </div>
</div>

<div class="row">
  <div class="col col-3" style="outline: solid black 1px">
    <h3>Side menu</h3>
  </div>
  <div class="col col-9" style="outline: solid black 1px">
    <div class="row">
      <div class="col-4"><h3>Noteworthy 1</h3></div>
      <div class="col-4"><h3>Noteworthy 2</h3></div>
      <div class="col-4"><h3>Noteworthy 3</h3></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-9">
    <h3>In the news</h3>
    <h3>In the news</h3>
    <h3>In the news</h3>
    <h3>In the news</h3>
    <h3>In the news</h3>
  </div>

  <div class="col-3">
    <div class="feature-catalog mb-4">
      <h2>Catalog</h2>
    </div>
    <div class="feature-other mb-4">
      <h2>Brochure</h2>
    </div>
    <div class="feature-philly mb-4">
      <h2>Philly</h2>
    </div>
  </div>

  