<div class="container show webpage">

  <div class="row">
    <div class="col">
      <h1 class="my-3">
        <%= title_link(@page) %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= @page.body if @page.body.present? %>
    </div>
  </div>

</div>
