<div class="container mt-3 pt-3" style="background-color: white;">

<% title "North Broad Press" %>

<div class="row">
    <div class="col">
      <h1 class="mt-0 pt-0 text-center">
          <%= image_pack_tag 'nbp_banner.jpg', style: "width: 100%;" %>
      </h1>
      <%= sanitize @page.content.html_safe if @page.present? %>
  </div>
</div>

<div class="row mt-5">
  <div class="column col-6" id="column_1">
    <% @column_1.each do |oabook| %>
      <%= render "nb_book_list", oabook: oabook %>
    <% end if @column_1.present? %>
  </div>

  <div class="column col-6" id="column_2">
    <% @column_2.reverse.each do |oabook| %>
      <%= render "nb_book_list", oabook: oabook %>
    <% end if @column_2.present? %>
  </div>
</div>

</div>