<div class="container authors index">

  <div class="row">
    <div class="col-12 mt-2 px-0">
      <h1 class="my-3">
      <%= title_link(t("tupress.authors.index_title")) %>
      </h1>
      <%= render "alphamenu" %>
    </div>
  </div>

  <div class="row py-4 px-0">
    <div class="col authors px-0">
      <% @authors.each do |author| %>
        <p class="p-2 author">
          <%= link_to author.index_title, author_path(author) %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= paginate @authors %>
    </div>
  </div>

</div>