<div class="container authors-index">

  <div class="row">
    <div class="col-12 mt-3 px-0">
      <h1 class="pl-3 my-4 gold">
        Authors
      </h1>
      <%= render "alphamenu" %>
    </div>
  </div>

  <div class="row py-4 px-0">
    <div class="col authors px-0">
      <% @authors.each do |author| %>
        <p class="p-2 author">
          <%= link_to author.title, author_path(author.author_id) %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= paginate @authors %>
    </div>
  </div>

</div>