  <h2 class="pl-3 region-title"><%= region %></h2> 
</div>

<div class="col-12 region mb-4">
  <div class="row">
    <div class="col pl-5 mb-4 mt-2 rights">
      <%= rights_coverage(region) %>
    </div>
  </div>