<div class="container agencies">
  <div class="row">
    <div class="col mt-4">
      <h1 class="mb-4"><%= render "title_link", title: t("tupress.agencies.title") %></h1>
    </div>
  </div>

  <% @agencies.sort.each do |region, agencies| %>
    <div class="row" id="regions">
      <div class="col-12 px-0">
        <%= render "region", region: region %>
        <%= render "agencies", agencies: agencies %>
      </div>
    </div>
  <% end %>

  <% if @default_agency.present? %>
    <div class="row">
      <div class="col-12 px-0">
        <h2 class="pl-3">All Other Territories</h2> 
      </div>

      <div class="col-12 region mb-4">
        <div class="row">
          <%= render "default_agency" %>
        </div>
      </div>
    </div>
  <% end %>

</div>