<div class="container documents-index">

<div class="row">
  <div class="col mt-3 px-0">
    <h1 class="my-3">
      <%= title_link(t("tupress.downloads.index_title")) %>
    </h1>
  </div>
</div>

<% @documents_by_type.each do |type, documents| %>

<div class="row">
  <div class="col-12 gold px-0">
    <h2 class="pl-3 mb-0">
      <%= type %>
      <span class="d-inline-block float-right pr-3 pt-2" style="font-size: 1.2rem;">
        Contact: <%= mail_to documents.first.person.email, documents.first.person.title %>
      </span>
    </h2>
  </div>

  <div class="col-12 mt-2 mb-3" style="background-color: white">
    <ul class="list-unstyled mt-2">
    <% documents.each do |doc| %>
      <li><%= link_to doc.title, doc.document.attachment if doc.document.attached? %></li>
    <% end %>
    <li>
  </div>
</div>

<% end %>

</div>