<div class="container index">

<div class="row">
  <div class="col-12 my-3">
    <h1 class="my-3">
      <%= "Award Winning Books: #{title_link(params[:id])}".html_safe %>
    </h1>
  </div>
</div>

    <%= render "books" %>

</div>