<div class="container index">

<div class="row">
  <div class="col-12 mb-3 mt-3 px-0">
    <h1 class="my-3">
      <%= "Award Winning Books: #{title_link(@subject)}".html_safe %>
    </h1>
  </div>
</div>

    <%= render "books" %>

</div>