<div class="container">

<div class="row">
  <div class="col-12 mt-3 px-0">
    <h1 class="my-3">
      <%= title_link(t("tupress.books.course_adoptions.title")) %>
    </h1>
  </div>
</div>

    <%= render "books" %>

</div>