<div class="container index">

<div class="row">
  <div class="col-12 mt-3 px-0">
    <h1 class="mt-3 mx-3 mx-md-3 mb-0 pl-3">
      <%= title_link(t("tupress.books.by_title")) %>
    </h1>
    <div class="d-none d-xl-block">
    <%= render "alphamenu" %>
    </div>
    <div class="d-block d-xl-none text-center">
    <%= render "alphamenu_mobile" %>
    </div>
  </div>
</div>

    <%= render "books" %>

</div>