<div class="container">

<div class="row">
  <div class="col-12 mt-3 px-0">
    <h1 class="my-4">
      <%= title_link(t("tupress.books.by_title")) %>
    </h1>
    <%= render "alphamenu" %>
  </div>
</div>

    <%= render "books" %>

</div>