<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-12">
  <h1>Books</h1>
</div>
</div>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-4">
        <p><%= link_to book.title, book %></p>
      </div>
    <% end %>
  </div>

