# Active Record typically reads its configuration from a file named database.yml
# or an environment variable DATABASE_URL. Use the value mysql2 as the adapter
# name. For example:
#
# development:
#  adapter: mysql2
#  encoding: utf8
#  database: my_db_name
#  username: root
#  password: my_password
#  host: 127.0.0.1
#  port: 3306
#  flags:
#    - -COMPRESS
#    - FOUND_ROWS
#    - MULTI_STATEMENTS
#  secure_auth: false

default: &default
  adapter: mysql2
  encoding: utf8
  host: <%= ENV["TUPRESS_DB_HOST"] || "127.0.0.1" %>
  database: <%= ENV["TUPRESS_DB_NAME"] || "tupress"  %>
  username: <%= ENV["TUPRESS_DB_USER"] || "root" %>
  password: <%= ENV["TUPRESS_DB_PASSWORD"] || "" %>
  port: 3306
  flags:
    - -COMPRESS
    - FOUND_ROWS
    - MULTI_STATEMENTS
  secure_auth: false

development:
  <<: *default
  database: press6

test:
  <<: *default
  database: <%= ENV["TUPRESS_DB_NAME"] || "press6-test" %>

production:
  <<: *default
  host: <%= ENV["TUPRESS_DB_HOST"] || "localhost" %>
  database: <%= ENV["TUPRESS_DB_NAME"] %>
  username: <%= ENV["TUPRESS_DB_USER"] %>
  password: <%= ENV["TUPRESS_DB_PASSWORD"] %>
  pool: 5
  timeout: 5000
