<p>
<strong>We are currently fulfilling all examination copies as an ebook (when available).&nbsp; If requesting a desk copy please select print or ebook below.</strong>
</p>
<hr />
<p>We invite you to fill out the form below or to write on departmental letterhead for an examination copy of any paperback title you wish to consider for course adoption or request for desk copies. <strong>For examination copies</strong>, please state course title, semester, and projected enrollment. <strong>For desk copies</strong>, please provide course ID, instructor's name, projected enrollment, semester class will be taught, and the name of the bookstore that will be placing the order. Please note: book(s) will not be sent until bookstore order is confirmed. All orders can be forwarded to: <a href="mailto:examcopy@temple.edu" target="_blank" rel="noopener">examcopy@temple.edu</a>&nbsp;</p>