<div class="container errorpage">
  <div class="row">
    <div class="col">
      <h1 class="page-title text-center">
        <%= t("internal_server_error") %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="text-center">
      <%= t("internal_server_error") %>
      </p>
    </div>
  </div>
</div>
