<div class="container errorpage">
  <div class="row">
  	<div class="col">
  		<h1 class="page-title text-center">
  			<%= t("service_unavailable") %>
  		</h1>
  	</div>
  </div>

  <div class="row">
    <div class="col">
      <%= t("service_unavailable") %>
    </div>
  </div>
</div>
