<div class="container subjects index">

  <div class="row">
    <div class="col mt-3 px-0">
      <h1 class="mt-3">
        <%= title_link(t("tupress.subjects.index_title")) %>
      </h1>
    </div>
  </div>

  <div class="row subjects py-4 px-0">
    <% @subjects.each do |subject| %>
    <div class="col-12 col-md-6 col-lg-4 px-3 my-1">
      <%= link_to subject.index_title, subject_path(subject), class: "d-inline-block p-2 w-100 subject" %>
    </div>
    <% end %>
  </div>

</div>