<div class="container subjects-show">

  <div class="row">
    <div class="col mt-4 px-0">
      <h1 class="gold pl-3">
        <%= @subject.title %>
      </h1>
    </div>
  </div>

  <%= render "/books/books" %>

</div>
