<ul class="list-unstyled">
  <% @journals.each do |i| %>
    <li><%= link_to i.title, i.url, :class=>"dropdown-item" if i.url.present? && i.title == t("tupress.default.menu.journals.commonwealth") %></li>
  <% end %>
  <li><%= link_to t("tupress.default.menu.open_access.nbp"), north_broad_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.open_access.lsw"), labor_studies_path, :class=>"dropdown-item" %></li>
  <li><%= link_to t("tupress.default.menu.open_access.manifold_label"), t("tupress.default.menu.open_access.manifold_link"), :class=>"dropdown-item" %></li>
</ul>
