@import "vars";

#main-menu {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  background-color: $dark-blue;
  margin-bottom: 0;
  .dropdown-toggle {
    color: $white!important;
  }
}

nav.pagination {
  text-align: center;
  font-size: 135%;
  display: block!important;
  margin-bottom: 14px;
  margin-top: 14px;
  a {
    color: $black!important;
  }
  .page {
    margin: 0.75em;
  }
  .page.current {
    color: $red;
  }
}
#mobile-nav {
  position: relative;
  width: 100%;
  margin: 0;
  .navbar-nav {
    .row {
      width: 100%; /* Firefox fix */
    }
    a {
      font-family: "Roboto Condensed"!important;
    }
  }
  .navbar {
    background-color: $dark-blue;
    justify-content: flex-start;
    padding: .25rem 0;
    .navbar-toggler {
      border: 0;
      padding: 0;
    }
    .collapse .padding {
      height: 0;
    }
    .show .padding {
      height: 10px;
      background-color: $dark-blue;
    }
    .navbar-toggler:hover {
      background-color: $dark-blue;
    }
    .navbar-toggler:focus {
      outline: none;
    }
    .navbar-toggler-icon {
      margin-left: 10px;
      margin-top: -3px;
      background-image: none;
    }
    .navbar-brand {
      font-family: "Roboto Condensed";
      position: relative;
      top: 5px;
    }
    .row {
      margin-top: 2px;
      background-color: $dark-blue;
      height: 45px !important;
      max-height: 45px !important;
      max-width: 100%;
      display: table;
      margin-left: 0;
      .col {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        a {
          width: 100%;
          color: $black;
          font-family: Roboto!important;
          font-size: 1.25rem;
        }
      }
    }
  }
}

#mobile-menu {
  background-color: $dark-blue;
  .col {
    display: table;
    a {
      vertical-align: middle;
      padding-left: 0!important;
    }
  }

  .faq-button {
    color: $white!important;
  }

  button {
    width: 100%;
  }

  li {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1.5rem;
    padding-bottom: 7px;
    a {
      color: $white;
    }
    @media screen and (max-width: 999px) {
      width: 100%;
      border: 0;
    }
  }
  .navbar-collapse {
    background-color: $light-blue;
    padding-top: 10px;
  }
  .navbar-toggler {
    color: $white;
    width: 100%;
  }
  .navbar-toggler[aria-expanded="true"] {
    background-color: $med-blue!important;
    color: $black;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1px;
    margin-top: 7px;
  }
}

#navbar-toggler-icon {
  margin-left: 10px!important;
  margin-right: 10px!important;
  margin-top: 1px!important;
  background-image: none;
  color: $white;
  height: auto;
  @media screen and (min-width: 0) and (max-width: 999px) {
    float: left;    
    display: inline-block;
    margin-right: 4px;
  }
  div {
    width: 25px;
    height: 2px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.dropdown-toggle {
  background-color: transparent!important;
  color: $black!important;
  border: 0!important;
}
.dropdown-toggle:focus { 
  outline: none!important;
  box-shadow: none!important; 
}
.dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.1em!important;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; 
}

.dropdown-toggle {
  .navbar-toggler-icon {
    padding-top: 7px;
    font-size: 120%;
    span {
      font-weight: 600;
      color: $red;
    }
  }
}