<%#
# String Form Partial

This partial renders an input element for a string attribute.
By default, the input is a text field.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::String][1].
  A wrapper around the String pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/String
%>

<div class="field-unit__label">
  <%= f.label field.attribute.upcase %>
</div>
<div class="field-unit__field">
  <%= case field.attribute
      when :xml_id
        f.text_field field.attribute, disabled: true
      when :cover_alt_text
        f.text_field field.attribute, placeholder: "<optional>"
      else
        f.text_field field.attribute
      end
  %>
  <% if field.attribute == :image_link %>
    <span class="dim">Please include  http:// or https://</span>
  <% end %>
  <% if field.attribute == :manifold %>
    <span class="dim">Project identifier only, i.e. structural-analysis</span>
  <% end %>
</div>
