@import "partials/_vars.scss";

.container.agencies {
  h2 {
    background-color: $gold;
    padding: 7px;
  }
  .rights {
    font-style: italic;
    font-size: 105%;
  }
  .region {
    background-color: $white;
    padding: 10px;
  }
}