@import "partials/_vars.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "main.scss";

#highlights {
    background-image: url(~highlights.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}