@import "partials/_vars.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "main.scss";

#highlights {
	background-image: url(~highlights.jpg);
	background-position: 50% 100%;
	background-repeat: repeat-x;
	margin-top:0;
	border-bottom: solid 14px gold;
}

#dropdownMenuButton {
	background-color: transparent;
}

#left-home-menu {
	li {
		font-size:120%;
		padding: 10px;
		background-color: $white;
		margin-bottom: 21px;
	}
}

:root {
	a, a:active, a:hover, a:visited {
		color: #000!important;
		text-decoration: underline;
	}
	#news {
		h2 {
			font-size: 120%;
			a {
				text-decoration: none;
			}
		}
	}
	#site-footer, #main-menu {
		a {
			text-decoration: none;
		}
	}
}

#site-footer {
	margin-top: 21px;
	background-color: #ccc;
}

li.list-inline-item {
	img {
		filter: grayscale(100%);
	}
}
#search-block {
	input:focus {
		border-color: #ccc;
		box-shadow: none;
	}
}
.search-glass {
	height: 38px;
	width: 32px;
	display: inline-block;
	position: relative;
	top: 4px;
	left: -17px;
	border: solid #ccc 1px;
	border-left: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0;
	background-color: white;
	padding-right: 4px;
	input {
		display: inline-block;
		position: relative;
		top:3px;
	}
}