@import "partials/_vars.scss";

#conferences {
    .month {
      h2 {
        margin-top:21px;
        background-color: $gold;
        padding: 7px;
      }  
    }
  .conferences {
    ul {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
}