form.simple_form {
  fieldset {
    .form-section {
      border: solid #ccc 2px;
      padding: 21px;
      border-radius: 7px;
      margin-bottom: 35px;
    }
    legend {
      width: auto;
      padding: 0 21px;
    }
  }

  .radio_buttons {
    legend {
      padding-left: 0;
    }
  }

  .inline {
    display: inline-block;
    margin-left: 1rem;
  }
}