@import "partials/_vars.scss";

#highlights {
  .carousel-inner {
    max-height: 544px;
    overflow: hidden;
  }
  .carousel-item {
    img.highlight {
      width: 100% !important;
    }
  }
}
#feature-other {
  img {
    max-width: 180px;
  }
}

#left-home-menu {
  ul {
    margin-bottom: 0;
    color: $red;
    li {
      font-size:120%;
      padding: 10px;
      background-color: $white;
      margin-bottom: 21px;
    }
    li:last-of-type {
      margin-bottom: 0;
    }
  }
  @media (max-width: 999px) {
    padding-left: 0!important;
    padding-right: 0!important;
    li {
      margin-bottom: 0!important;
    }
  }
}

#new-forthcoming {
  background-color: $white;
  h1 {
    text-decoration: underline;
    margin-left: 14px;
    @media screen and (max-width: 999px) {
      margin-left: 0;
    }
  }
  p {
    margin-top: 7px;
    color: $red;
  }
  img {
    height: 300px;
    max-width: 200px;
  }
  a {
    display: block;
    font-weight: 600;
    margin-top: 7px;
  }
}

#news {
  border-right: 14px solid $background-grey;
  background-color: $news-grey;
  @media (max-width: 999px) {
    border-right: 0;
    margin-bottom: 21px;
    .news-item {
      padding-right: 21px;
    }
  }
  h1 {
    text-decoration: underline;
  }
  h2 {
    font-size: 135%;
  }
  .news-item {
    margin-top: 28px;
    .left {
      width: 160px;
      text-align: center;
      a {
        width: 100%;
      }
      .news-image {
        height: 200px;
        max-width: 140px;
        margin: auto;
      }
    }
    .right {
      padding-left: 28px;
    }
  }
}
#highlights {
  background-image: url(~highlights.jpg);
  background-position: 50% 100%;
  background-repeat: repeat-x;
  margin-top:0;
  border-bottom: solid 14px gold;
}
#features {
  text-align: center;
  h2 {
    font-size: 115%;
  }
  @media (max-width: 999px) {
    padding-left: 0;
    padding-right: 0;
  }
  img {
    max-width: 100%;
  }
}
