@import "partials/_vars.scss";

#highlights {
  .carousel-inner {
    max-height: 549px;
    overflow: hidden;
  }
  .carousel-item {
    img.highlight {
      outline: solid red 4px;
      width: 100% !important;
    }
  }
}
#feature-other {
  img {
    max-width: 180px;
  }
}