@import "partials/_vars.scss";

.guide-wrapper {
  background-color: $white;
  .guide-text {
    margin: 28px 14px 14px 0;
    outline: inset #ccc 1px;
    padding: 21px;
  }
}

.pdf-link {
  font-size: 125%;
} 
