@import "partials/_vars.scss";

#webpage-show {
  .body {
    padding: 21px;
  }
}

#search-results {
  a {
    font-size: 1.15rem;
  }
  a.book {
    font-size: 1.5rem;
  }
  .bg-white {
    background-color: $white;
  }
  ul {
    li {
      margin-bottom: .5rem;
    }
  }
}