@import "partials/_vars.scss";

#webpage-show {
  .body {
    padding: 21px;
  }
}

#search-results {
  a {
    font-size: 1.15rem;
  }
  a.book {
    font-size: 1.5rem;
  }
  .bg-white {
    background-color: $white;
  }
  ul {
    li {
      margin-bottom: .5rem;
    }
  }
}

#search-results {
  .navbar-collapse {
    position: relative;
    top: -16px;
  }
  #book-results {
    top: 0;
  }
}

.show.webpage {
  pre {
    display: block;
    background-color: $gold!important;
    padding: 7px!important;
    border-radius: 0!important;
    font-size: 175%;
    font-family: roboto;
    font-weight: 800;
    padding-left: 1.5rem !important;
  }
}