@import "partials/_vars.scss";

form.simple_form {
  fieldset.bordered {
    border: solid #ccc 2px;
    padding: 21px;
    border-radius:7px;
    margin-bottom: 35px;
    background-color: transparent;
    legend {
      float: none;
      width: auto;
      padding: 0 21px;
    }
    select {
      width: 100%;
      height: 28px;
      margin-bottom: 14px;
    }
  }

  .radio_buttons {
    legend {
      padding-left: 0!important;
      font-weight: 600;
    }
  }

  .inline {
    display: inline-block;
    margin-left: 1rem;
  }

  abbr[title="required"] {
    color: $red;
    text-decoration: none;
  }

  .form-group {
    margin-bottom: 21px;
  }
}

#deskcopy, #examcopy {
  display: none;
}