@import "partials/_vars.scss";

.subjects.index {
  .subjects {
    column-count: 3;
    .subject {
      background-color: $white;
    }
  }
}

.subjects.show {
  .brochure {
    img {
      height: 220px;
    }
    a {
      text-decoration: none;
    }
  }
}