<div class="container">
<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators" style="bottom: -49px">
    <% @highlights.each_with_index do |highlight, index| %>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="<%= index %>"<%= " class=active" if index == 0 %>></button>
    <% end %>
  </div>
  <div class="carousel-inner text-center" role="listbox">
    <% @highlights.each_with_index do |highlight, index| %>
      <div class="text-center carousel-item <%= "active" if index == 0 %>">
        <%= link_to image_tag(highlight.image, {class: "highlight", 
                                                alt: highlight.alt_text}), highlight.link %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
