<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="bottom: -49px">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner text-center">
    <div class="carousel-item active text-center" >
      <%= image_pack_tag "2021_Black_Hist_Month.jpg", class: "d-block w-100", style: "margin:auto", alt: "Black History Month" %>
    </div>
    <div class="carousel-item text-center">
      <%= image_pack_tag "2021_Black_Hist_Month.jpg", class: "d-block w-100", style: "margin:auto", alt: "Black History Month" %>
    </div>
    <div class="carousel-item text-center">
      <%= image_pack_tag "2021_Black_Hist_Month.jpg", class: "d-block w-100", style: "margin:auto", alt: "Black History Month" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
