<div id="site-footer" class="container">
  <div class="row">
    <div class="col">

      <div class="postscript">
    
				<div class="region region-postscript-first">        
					<div class="dept-address">
				  	<address><span class="place-title">Temple University Press</span><br />1900 N. 13th Street<br />Philadelphia, PA 19122</address>
				  </div>
				</div>
				    
				<div class="region region-postscript-second">        
					<nav role="navigation">
					  <ul>
					  	<li><a href="http://temple.edu">Temple University</a></li>
					  	<li><a href="/people">People at the Press</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</nav>
				</div>   
				<div class="region region-postscript-third" style="float: right;margin-right: 4%;margin-top: 4%;">        
          <ul>
            <li class="list-inline-item">
              <%= link_to image_pack_tag('wp.png', class: 'social-icon', alt: 'Wordpress Icon'), 'https://templepress.wordpress.com' %>
            </li>
            <li class="list-inline-item">
              <%= link_to image_pack_tag('twitter-icon.png', class: 'social-icon', alt: 'Twitter Icon'), 'http://twitter.com/TempleUnivPress' %>
            </li>
            <li class="list-inline-item">
              <%= link_to image_pack_tag('fb-icon.png', class: 'social-icon', alt: 'Facebook Icon'), 'http://facebook.com/TempleUnivPress' %>
            </li>
          </ul>
				</div>
			</div> 

			<div class="tu-links">    
			  <div class="region region-footer">
					<div>
				  	<p style="">
				    	<small><%= link_to "© 2006-2011 Temple University", "#" %> 
				    	| All Rights Reserved</small>
				  	</p>
			  	</div>
			  </div>
			</div>
    </div>
  </div>
</div>