<div class="container series index">

  <div class="row">
    <div class="col-12 mt-2">
      <h1 class="mt-4 mr-4">
      <%= title_link(t("tupress.series.index_title")) %>
      </h1>
    </div>
  </div>

  <% if @intro.present? %>
  <div class="row">
    <div class="col-12 mt-2">
      <%= @intro.body if @intro.body.present? %>
    </div>
  </div>
  <% end %>

  <div class="row pr-4 pt-4">
    <% @series.each do |s| %>
    <div class="col-12 col-md-6 col-lg-4 series">
      <p class="p-2 s">
        <%= link_to s.title, series_path(s) %>
      </p>
    </div>
    <% end %>
  </div>

</div>
