<div class="container series-index">

  <div class="row">
    <div class="col-12 mt-3 px-0">
      <h1 class="mt-4">
        Series
      </h1>
    </div>
  </div>

  <div class="row pr-4 pt-4">
    <% @series.each do |s| %>
    <% if s.books.count > 0 %>
      <div class="col-4 series pl-0">
          <p class="p-2 s">
            <%= link_to s.title, series_path(s.code) %>
          </p>
      </div>
    <% end %>
    <% end %>
  </div>

</div>
